body {
    background-color: #FFFFFF;
    font-family: 'Poppins';
}


@media (max-width: 2000px) {

     .verde {
        background-color: #00A38F;
        height: 800px;
        width: 100%;
    }

    h1 {
        display: block;
        text-align: center;
    }

    .navbar {
        text-decoration: none;
        color: #FFFFFF;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:visited {
        color: #FFFFFF;
    }

    a:hover {
        color: #FFFFFF;
    }

    a:active {
        color: #FFFFFF;
    }

    li {
        list-style-type: none;
    }

    #title {
        position: absolute;
        width: 618px;
        margin-top: 120px;
        left: 0px;
        top: 15 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 200px;
        line-height: 80px;
        color: #FFFFFF;
    }

    #paragrafo {
        position: absolute;
        width: 429px;
        height: 64px;
        left: 210px;
        top: 70px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #imagem1 {
        position: absolute;
        height: 568px;
        left: 50%;
        top: 100px;
        mix-blend-mode: normal;
    }

    #quemsomos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #descr-quemsomos {
        width: 438px;
        height: 394px;
        left: -38px;
        top: 182px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        letter-spacing: -0.04em;
        color: #000000;
    }

    #imagem2 {
        display: inline-block;
        margin-top: 210px;
        margin-left: 70px;
        mix-blend-mode: normal;
    }

    .ret3 {
        width: 1440px;
        height: 935px;
    }

    #valores {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    .faixa-verde {
        position: absolute;
        width: 100%;
        height: 60%;
        left: 0px;
        top: 180%;
        background: #00A38F;
        border-radius: 50px 77px 50px 50px;
    }

    .rounded-circle {
        display: block;
        width: 200px; 
        margin-top: 80px;
        margin-left: 100px;
    }

    #subtituloMissao {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 150px;
    }

    #subtituloVisao {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 157px;
    }

    #subtituloValores {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 145px;
    }

    .descricao {
        color: #FFFFFF;
    }

    #oquesomos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #descr-oquesomos {
        width: 438px;
        height: 394px;
        left: -38px;
        top: 182px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: -0.04em;
        color: #000000;
    }

    .ret5 {
        background-color: #00A38F;
        margin-top: 100px;
    }

    #imagem5 {
        display: block;
        align-items: center;
        margin-top: 100px;
    }

    #descr-ej {
        margin-left: 200px;
        margin-right: 170px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 56px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #servicos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #box1 {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        left: 20%;
        top: 4650px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #box2 {
        display: inline-block   ;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        right: 20%;
        top: 4650px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #box3 {
        display: inline-block   ;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        left: 35%;
        top: 5000px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #clientes {
        display: block;
        margin-top: -50px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #circulo1 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 10%;
        top: 5600px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo2 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 55%;
        top: 5600px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo3 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 10%;
        top: 6100px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo4 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 55%;
        top: 6100px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #imagemCirculo2 {
        margin-top: 20px;
        margin-left: 80px;
    }

    #imagemCirculo4 {
        margin-top: 20px;
        margin-left: 80px;
    }

    #contato {
        display: block;
        margin-top: 300px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #nome {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 260px;
        top: 6820px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptnome {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 260px;
        top: 6850px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #telefone {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 50%;
        top: 6820px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptfone {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 50%;
        top: 6850px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #email {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 260px;
        top: 7000px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptemail {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 260px;
        top: 7050px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #mensagem {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 50%;
        top: 7000px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptmensagem {
        position: absolute;
        width: 484px;
        height: 200px;
        left: 50%;
        top: 7050px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #btn {
        position: absolute;
        width: 203px;
        height: 64px;
        left: 261px;
        top: 7185px;
        background: #00A38F;
        color: #FFFFFF;
        border-radius: 16px;
        border-color: #00A38F;
    }

    .rodape {
        position: absolute;
        width: 1442px;
        height: 520px;
        left: 118px;
        top: 8000px;
        background: #00A38F;
    }

    .ret6 {
        height: 1000px;
    }   

    .ret7{
        height: 800px;
        
    }

    .ret8{
        height: 1000px;
    }

    .ret9{
        background-color: #00A38F;
        height: 70%;
        padding-bottom: 3%;
        color:#FFFFFF;
        text-align: center;
    }

    #redesocial {
        margin-top: 100px;
        line-height: 80px;
        font-weight: bolder;
        font-size: 24px;
    }

    #logo {
        margin-top: 100px;

    }

    #endereco {
        margin-top: 100px;
        line-height: 80px;
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
    }

    #frexa {
        margin-left: 80%;
    }
} 


@media (max-width: 1200px) {

     .verde {
        background-color: #00A38F;
        height: 800px;
        width: 100%;
    }

    h1 {
        display: block;
        text-align: center;
    }

    .navbar {
        text-decoration: none;
        color: #FFFFFF;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:visited {
        color: #FFFFFF;
    }

    a:hover {
        color: #FFFFFF;
    }

    a:active {
        color: #FFFFFF;
    }

    li {
        list-style-type: none;
    }

    #title {
        position: absolute;
        width: 618px;
        margin-top: 120px;
        left: 0px;
        top: 15 0px;
        font-style: normal;
        font-weight: 400;
        font-size: 200px;
        line-height: 80px;
        color: #FFFFFF;
    }

    #paragrafo {
        position: absolute;
        width: 429px;
        height: 64px;
        left: 210px;
        top: 70px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #imagem1 {
        position: absolute;
        height: 568px;
        left: 50%;
        top: 100px;
        mix-blend-mode: normal;
    }

    #quemsomos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #descr-quemsomos {
        width: 438px;
        height: 394px;
        left: -38px;
        top: 182px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 50px;
        letter-spacing: -0.04em;
        color: #000000;
    }

    #imagem2 {
        display: inline-block;
        margin-top: 210px;
        margin-left: 70px;
        mix-blend-mode: normal;
    }

    .ret3 {
        width: 1440px;
        height: 935px;
    }

    #valores {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    .faixa-verde {
        position: absolute;
        width: 100%;
        height: 80%;
        left: 0px;
        top: 280%;
        background: #00A38F;
        border-radius: 50px 77px 50px 50px;
    }

    .rounded-circle {
        display: block;
        width: 200px; 
        margin-top: 80px;
        margin-left: 100px;
    }

    #subtituloMissao {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 150px;
    }

    #subtituloVisao {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 157px;
    }

    #subtituloValores {
        display: block;
        font-size: 32px;
        font-weight: 700;
        line-height: 100px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #FFFFFF;
        margin-left: 145px;
    }

    .descricao {
        color: #FFFFFF;
    }

    #oquesomos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #descr-oquesomos {
        width: 438px;
        height: 394px;
        left: -38px;
        top: 182px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: -0.04em;
        color: #000000;
    }

    .ret5 {
        background-color: #00A38F;
        margin-top: 100px;
    }

    #imagem5 {
        display: block;
        align-items: center;
        margin-top: 100px;
    }

    #descr-ej {
        margin-left: 200px;
        margin-right: 170px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 56px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    #servicos {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #box1 {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        left: 10%;
        top: 4650px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #box2 {
        display: inline-block   ;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        right: 10%;
        top: 4650px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #box3 {
        display: inline-block   ;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 450px;
        height: 254px;
        left: 35%;
        top: 5000px;
        background: #FFFFFF;
        border: 8px solid #00CC99;
        box-shadow: 12px 16px 0px #000000;
        border-radius: 30px;
    }

    #clientes {
        display: block;
        margin-top: -50px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #circulo1 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 10%;
        top: 5600px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo2 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 55%;
        top: 5600px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo3 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 10%;
        top: 6100px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #circulo4 {
        position: absolute;
        width: 400px;
        height: 400px;
        left: 55%;
        top: 6100px;
        background: #FFFFFF;
        border: 8px solid #000000;
        box-shadow: 16px 12px 0px #000000;
    }

    #imagemCirculo2 {
        margin-top: 20px;
        margin-left: 80px;
    }

    #imagemCirculo4 {
        margin-top: 20px;
        margin-left: 80px;
    }

    #contato {
        display: block;
        margin-top: 300px;
        margin-bottom: 50px;
        color: #00A38F;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    #nome {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 260px;
        top: 6820px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptnome {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 260px;
        top: 6850px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #telefone {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 50%;
        top: 6820px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptfone {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 50%;
        top: 6850px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #email {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 260px;
        top: 7000px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptemail {
        position: absolute;
        width: 290px;
        height: 60px;
        left: 260px;
        top: 7050px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #mensagem {
        position: absolute;
        width: 39px;
        height: 20px;
        left: 50%;
        top: 7000px;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #00A38F;
    }

    #iptmensagem {
        position: absolute;
        width: 484px;
        height: 200px;
        left: 50%;
        top: 7050px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 16px;
    }

    #btn {
        position: absolute;
        width: 203px;
        height: 64px;
        left: 261px;
        top: 7185px;
        background: #00A38F;
        color: #FFFFFF;
        border-radius: 16px;
        border-color: #00A38F;
    }

    .rodape {
        position: absolute;
        width: 1442px;
        height: 520px;
        left: 118px;
        top: 8000px;
        background: #00A38F;
    }

    .ret6 {
        height: 1000px;
    }   

    .ret7{
        height: 800px;
        
    }

    .ret8{
        height: 1000px;
    }

    .ret9{
        background-color: #00A38F;
        height: 70%;
        padding-bottom: 3%;
        color:#FFFFFF;
        text-align: center;
    }

    #redesocial {
        margin-top: 100px;
        line-height: 80px;
        font-weight: bolder;
        font-size: 24px;
    }

    #logo {
        margin-top: 100px;

    }

    #endereco {
        margin-top: 100px;
        line-height: 80px;
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
    }

    #frexa {
        margin-left: 80%;
    }
}

@media (max-width: 1000px) {

    .verde {
       background-color: #00A38F;
       height: 500px;
       width: 100%;
   }

   h1 {
       display: block;
       text-align: center;
   }

   .navbar {
       text-decoration: none;
       color: #FFFFFF;
   }

   a {
       color: #FFFFFF;
       text-decoration: none;
   }

   a:visited {
       color: #FFFFFF;
   }

   a:hover {
       color: #FFFFFF;
   }

   a:active {
       color: #FFFFFF;
   }

   li {
       list-style-type: none;
   }

   #title {
       position: absolute;
       width: 618px;
       margin-top: 120px;
       left: -90px;
       top: 15 0px;
       font-style: normal;
       font-weight: 400;
       font-size: 200px;
       line-height: 80px;
       color: #FFFFFF;
   }

   #paragrafo {
       position: absolute;
       width: 429px;
       height: 64px;
       left: 210px;
       top: 70px;
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 32px;
       letter-spacing: -0.04em;
       color: #FFFFFF;
   }

   #imagem1 {
       position: absolute;
       height: 568px;
       left: 50%;
       top: 100px;
       mix-blend-mode: normal;
   }

   #quemsomos {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 40px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #descr-quemsomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 38px;
       letter-spacing: -0.04em;
       color: #000000;
   }

   #imagem2 {
       display: inline-block;
       margin-top: 210px;
       margin-left: 70px;
       mix-blend-mode: normal;
   }

   .ret3 {
       width: 100%;
       height: 935px;
   }

   #valores {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   .faixa-verde {
       position: absolute;
       width: 100%;
       height: 190%;
       left: 0px;
       top: 350%;
       background: #00A38F;
       border-radius: 50px 77px 50px 50px;
   }

   #imagem3 {
        margin-left: 280px;
   }

   .rounded-circle {
       display: block;
       width: 200px; 
       margin-top: 80px;
       margin-left: 100px;
   }

   #subtituloMissao {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 150px;
   }

   #subtituloVisao {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 157px;
   }

   #subtituloValores {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 145px;
   }

   .descricao {
       color: #FFFFFF;
       text-align: center;
   }

   #oquesomos {
       display: block;
       margin-top: 700px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #descr-oquesomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 44px;
       letter-spacing: -0.04em;
       color: #000000;
   }

   .ret5 {
       background-color: #00A38F;
       margin-top: 100px;
   }

   #imagem5 {
       display: block;
       align-items: center;
       margin-top: 100px;
   }

   #descr-ej {
       margin-left: 200px;
       margin-right: 170px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 56px;
       letter-spacing: -0.04em;
       color: #FFFFFF;
   }

   #servicos {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #box1 {
       display: inline-block;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 570%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box2 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 610%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box3 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 650%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #clientes {
       display: block;
       margin-top: 200px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #circulo1 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 690%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo2 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 740%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo3 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 790%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo4 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 840%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #imagemCirculo2 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #imagemCirculo4 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #contato {
       display: block;
       margin-top: 1450px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #nome {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8700px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptnome {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8730px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #telefone {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8830px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptfone {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8860px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #email {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8960px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptemail {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 9010px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #mensagem {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 9110px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptmensagem {
       position: absolute;
       width: 484px;
       height: 200px;
       left: 260px;
       top: 9140px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #btn {
       position: absolute;
       width: 203px;
       height: 64px;
       left: 260px;
       top: 9390px;
       background: #00A38F;
       color: #FFFFFF;
       border-radius: 16px;
       border-color: #00A38F;
   }

   .rodape {
       position: absolute;
       width: 1442px;
       height: 520px;
       left: 118px;
       top: 8000px;
       background: #00A38F;
   }

   .ret6 {
       height: 1000px;
   }   

   .ret7{
       height: 800px;
       
   }

   .ret8{
       height: 1000px;
   }

   .ret9{
       margin-top: 140%;
       background-color: #00A38F;
       height: 70%;
       padding-bottom: 3%;
       color:#FFFFFF;
       text-align: center;
   }

   #redesocial {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
   }

   #logo {
       margin-top: 100px;

   }

   #endereco {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
       text-align: center;
   }

   #frexa {
       margin-left: 80%;
   }
}

/* IPHONE SE (acredito que tinha que criar uma id para cada negócio de entrada */
@media (max-width: 375px) {

    .verde {
       background-color: #00A38F;
       height: 500px;
       width: 190%;
       margin-right: 1000px;
   }

   h1 {
       display: block;
       text-align: center;
   }

   .navbar {
       text-decoration: none;
       color: #FFFFFF;
   }

   a {
       color: #FFFFFF;
       text-decoration: none;
   }

   a:visited {
       color: #FFFFFF;
   }

   a:hover {
       color: #FFFFFF;
   }

   a:active {
       color: #FFFFFF;
   }

   li {
       list-style-type: none;
   }

   #title {
       position: absolute;
       width: 618px;
       margin-top: 0px;
       left: -90px;
       top: 15 0px;
       font-style: normal;
       font-weight: 400;
       font-size: 200px;
       line-height: 80px;
       color: #FFFFFF;
   }

   #paragrafo {
       position: absolute;
       width: 429px;
       height: 64px;
       left: 120px;
       top: 70px;
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 32px;
       letter-spacing: -0.04em;
       color: #FFFFFF;
   }

   #imagem1 {
       position: absolute;
       height: 800px;
       left: 70%;
       top: 250px;
       mix-blend-mode: normal;
       /* TEM QUE MUDAR O TAMANHO DA IMAGEM */
   }

   #quemsomos {
       display: block;
       margin-top: 50px;
       margin-bottom: 30px;
       color: #00A38F;
       font-size: 40px;
       font-weight: 700;
       line-height: 56px;
       text-align: left;
   }

   #descr-quemsomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 38px;
       letter-spacing: 0em;
       color: #000000;
   }

   #imagem2 {
       display: inline-block;
       margin-top: 500px;
       margin-left: 70px;
       mix-blend-mode: normal;
   }

   .ret3 {
       width: 100%;
       height: 935px;
   }

   #valores {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   .faixa-verde {
       position: absolute;
       width: 500%;
       height: 200%;
       left: 170px;
       top: 350%;
       background: #00A38F;
       border-radius: 50px 77px 50px 50px;
   }

   #imagem3 {
        margin-left: -10px;
   }

   .rounded-circle {
       display: block;
       width: 200px; 
       margin-top: 80px;
       margin-left: 100px;
   }

   #subtituloMissao {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 150px;
   }

   #subtituloVisao {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 157px;
   }

   #subtituloValores {
       display: block;
       font-size: 32px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 145px;
   }

   .descricao {
       color: #FFFFFF;
       text-align: center;
   }

   #oquesomos {
       display: block;
       margin-top: 700px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #descr-oquesomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 44px;
       letter-spacing: -0.04em;
       color: #000000;
   }

   .ret5 {
       background-color: #00A38F;
       margin-top: 100px;
       margin-right: 1000%;
   }

   #imagem5 {
       display: block;
       align-items: center;
       margin-top: 100px;

   }

   #descr-ej {
       margin-left: 200px;
       margin-right: 170px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 56px;
       color: #FFFFFF;
   }

   #servicos {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #box1 {
       display: inline-block;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 1000%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box2 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 610%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box3 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 650%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #clientes {
       display: block;
       margin-top: 200px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #circulo1 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 690%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo2 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 740%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo3 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 790%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo4 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 840%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #imagemCirculo2 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #imagemCirculo4 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #contato {
       display: block;
       margin-top: 1450px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #nome {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8700px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptnome {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8730px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #telefone {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8830px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptfone {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8860px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #email {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8960px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptemail {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 9010px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #mensagem {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 9110px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptmensagem {
       position: absolute;
       width: 484px;
       height: 200px;
       left: 260px;
       top: 9140px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #btn {
       position: absolute;
       width: 203px;
       height: 64px;
       left: 260px;
       top: 9390px;
       background: #00A38F;
       color: #FFFFFF;
       border-radius: 16px;
       border-color: #00A38F;
   }

   .rodape {
       position: absolute;
       width: 1442px;
       height: 520px;
       left: 118px;
       top: 8000px;
       background: #00A38F;
   }

   .ret6 {
       height: 1000px;
   }   

   .ret7{
       height: 800px;
       
   }

   .ret8{
       height: 1000px;
   }

   .ret9{
       margin-top: 140%;
       background-color: #00A38F;
       height: 70%;
       padding-bottom: 3%;
       color:#FFFFFF;
       text-align: center;
   }

   #redesocial {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
   }

   #logo {
       margin-top: 100px;

   }

   #endereco {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
       text-align: center;
   }

   #frexa {
       margin-left: 80%;
   }
}


/* IPAD AIR */
@media (max-width: 820px) {

    .verde {
       background-color: #00A38F;
       height: 500px;
       width: 190%;
       margin-right: 1000px;
   }

   h1 {
       display: block;
       text-align: center;
   }

   .navbar {
       text-decoration: none;
       color: #FFFFFF;
   }

   a {
       color: #FFFFFF;
       text-decoration: none;
   }

   a:visited {
       color: #FFFFFF;
   }

   a:hover {
       color: #FFFFFF;
   }

   a:active {
       color: #FFFFFF;
   }

   li {
       list-style-type: none;
   }

   #title {
       position: absolute;
       width: 618px;
       margin-top: 0px;
       left: -90px;
       top: 15 0px;
       font-style: normal;
       font-weight: 400;
       font-size: 200px;
       line-height: 80px;
       color: #FFFFFF;
   }

   #paragrafo {
       position: absolute;
       width: 429px;
       height: 64px;
       left: 120px;
       top: 70px;
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 32px;
       letter-spacing: -0.04em;
       color: #FFFFFF;
   }

   #imagem1 {
       position: absolute;
       height: 800px;
       left: 70%;
       top: 250px;
       mix-blend-mode: normal;
       /* TEM QUE MUDAR O TAMANHO DA IMAGEM */
   }

   #quemsomos {
       display: block;
       margin-top: 50px;
       margin-bottom: 30px;
       color: #00A38F;
       font-size: 40px;
       font-weight: 700;
       line-height: 56px;
       text-align: left;
   }

   #descr-quemsomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 38px;
       letter-spacing: 0em;
       color: #000000;
   }

   #imagem2 {
       display: inline-block;
       margin-top: 500px;
       margin-left: 70px;
       mix-blend-mode: normal;
   }

   .ret3 {
       width: 100%;
       height: 935px;
   }

   #valores {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   .faixa-verde {
       position: absolute;
       width: 300%;
       height: 110%;
       left: 380px;
       top: 140%;
       background: #00A38F;
       border-radius: 50px 77px 50px 50px;
   }

   #imagem3 {
        margin-left: 180px;
   }

   .rounded-circle {
       display: block;
       width: 200px; 
       margin-top: 80px;
       margin-left: 100px;
   }

   #subtituloMissao {
       display: block;
       font-size: 45px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 150px;
   }

   #subtituloVisao {
       display: block;
       font-size: 45px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 157px;
   }

   #subtituloValores {
       display: block;
       font-size: 45px;
       font-weight: 700;
       line-height: 100px;
       letter-spacing: -0.04em;
       text-align: left;
       color: #FFFFFF;
       margin-left: 145px;
   }

   .descricao {
       color: #FFFFFF;
       text-align: center;
       font-size: 20px;
       text-align: left;
       margin-left: -50px;
   }

   #oquesomos {
       display: block;
       margin-top: 700px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #descr-oquesomos {
       width: 438px;
       height: 394px;
       left: -38px;
       top: 182px;
       font-style: normal;
       font-weight: 400;
       font-size: 30px;
       line-height: 44px;
       letter-spacing: -0.04em;
       color: #000000;
   }

   .ret5 {
       background-color: #00A38F;
       margin-top: 100px;
       margin-right: 1000%;
   }

   #imagem5 {
       display: block;
       align-items: center;
       margin-top: 100px;

   }

   #descr-ej {
       margin-left: 200px;
       margin-right: 170px;
       font-style: normal;
       font-weight: 400;
       font-size: 30px;
       line-height: 56px;
       color: #FFFFFF;
   }

   #servicos {
       display: block;
       margin-top: 100px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #box1 {
       display: inline-block;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 1000%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box2 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 610%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #box3 {
       display: inline-block   ;
       flex-direction: column;
       align-items: flex-start;
       padding: 0px;
       position: absolute;
       width: 450px;
       height: 254px;
       left: 28%;
       top: 650%;
       background: #FFFFFF;
       border: 8px solid #00CC99;
       box-shadow: 12px 16px 0px #000000;
       border-radius: 30px;
   }

   #clientes {
       display: block;
       margin-top: 200px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #circulo1 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 690%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo2 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 740%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo3 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 790%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #circulo4 {
       position: absolute;
       width: 400px;
       height: 400px;
       left: 20%;
       top: 840%;
       background: #FFFFFF;
       border: 8px solid #000000;
       box-shadow: 16px 12px 0px #000000;
   }

   #imagemCirculo2 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #imagemCirculo4 {
       margin-top: 20px;
       margin-left: 80px;
   }

   #contato {
       display: block;
       margin-top: 1450px;
       margin-bottom: 50px;
       color: #00A38F;
       font-size: 48px;
       font-weight: 700;
       line-height: 56px;
       letter-spacing: -0.04em;
       text-align: left;
   }

   #nome {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8700px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptnome {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8730px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #telefone {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8830px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptfone {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 8860px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #email {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 8960px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptemail {
       position: absolute;
       width: 290px;
       height: 60px;
       left: 260px;
       top: 9010px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #mensagem {
       position: absolute;
       width: 39px;
       height: 20px;
       left: 260px;
       top: 9110px;
       font-style: normal;
       font-weight: 700;
       font-size: 12px;
       line-height: 20px;
       letter-spacing: 0.08em;
       text-transform: uppercase;
       color: #00A38F;
   }

   #iptmensagem {
       position: absolute;
       width: 484px;
       height: 200px;
       left: 260px;
       top: 9140px;
       background: #FFFFFF;
       border: 1px solid rgba(0, 0, 0, 0.25);
       border-radius: 16px;
   }

   #btn {
       position: absolute;
       width: 203px;
       height: 64px;
       left: 260px;
       top: 9390px;
       background: #00A38F;
       color: #FFFFFF;
       border-radius: 16px;
       border-color: #00A38F;
   }

   .rodape {
       position: absolute;
       width: 1442px;
       height: 520px;
       left: 118px;
       top: 8000px;
       background: #00A38F;
   }

   .ret6 {
       height: 1000px;
   }   

   .ret7{
       height: 800px;
       
   }

   .ret8{
       height: 1000px;
   }

   .ret9{
       margin-top: 140%;
       background-color: #00A38F;
       height: 70%;
       padding-bottom: 3%;
       color:#FFFFFF;
       text-align: center;
   }

   #redesocial {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
   }

   #logo {
       margin-top: 100px;

   }

   #endereco {
       margin-top: 100px;
       line-height: 80px;
       font-weight: bolder;
       font-size: 24px;
       text-align: center;
   }

   #frexa {
       margin-left: 80%;
   }
}
